<div id="carouselExampleSlidesOnly" class="carousel slide my-5" data-bs-ride="carousel">
  <h2 class="my-5">News</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h2 class="carousel-title text-center"> Taylor Swift once again breaks her own record for monthly listeners by a female artist in Spotify history with 98 million.</h2>
      <img src="../../../assets/img/taylor.jpg" class="d-block w-100" alt="taylor-swift">
    </div>
    <div class="carousel-item">
      <h2 class="carousel-title text-center">Christina Aguilera adds to rumours of an upcoming collaboration with Selena Gomez and Karol G in a new tweet.</h2>
      <img src="../../../assets/img/selena.jpg" class="d-block w-100" alt="selena-gomez">
    </div>
    <div class="carousel-item">
      <h2 class="carousel-title text-center">Lana del Rey's Glastonbury mic cut for being late to sing: "My hair was late".</h2>
      <img src="../../../assets/img/lana.jpg" class="d-block w-100" alt="lana-del-rey">
    </div>
  </div>
</div>
